name: GitOps Pipeline

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: runtesting/gitops-demo:${{ github.run_number }}
          cache-from: type=registry,ref=runtesting/gitops-demo:latest
          cache-to: type=inline

      - name: Update Env Repo
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          git clone https://${GH_TOKEN}@github.com/fred4impact/env-repo.git
          cd env-repo
          git config user.name github-actions[bot]
          git config user.email actions@github.com
          cd dev
          sed -i "s|image:.*|image: runtesting/gitops-demo:${{ github.run_number }}|g" deployment.yaml
          cd ..
          git add dev/deployment.yaml
          git commit -m "Update image to runtesting/gitops-demo:${{ github.run_number }}"
          git remote set-url origin https://${GH_TOKEN}@github.com/fred4impact/env-repo.git
          git push origin master
